@import "../mixins/typography"

//@mixin label($color, $font-family, $font-size, $font-weight,$letter-spacing ,$margin-bottom:0 ) 
//    color: $color
//    font-family: $font-family
//    font-size: $font-size
//    font-weight: $font-weight
//    letter-spacing: $letter-spacing
//    margin-bottom: $margin-bottom

@mixin mixed-lbl($args...)
    @include label($args...)

@mixin lbl-1
    @include mixed-lbl($palett-color-1, $main-font, $font-size-1, $font-weight-1, $letter-spacing-1)

.uppercase
    text-transform: uppercase

label
    margin-bottom: 0
    &.center-text
        text-align: center
    &.uppercase-text
        text-transform: uppercase
    &.control-label
        @include lbl-1;
        &.lbl-1
            @include lbl-1