.login-background {
    background: url('~/assets/roadmap/login-bg.png') no-repeat;
    background-size: contain;
    height: 100vh;
    width: calc(100vw - 540px);
}

.login-form {
    width: 540px;
}