// Fonts family
$main-font:                        'SFUIDisplay'
$sub-font:                         'Purista'

// Font size
$font-size-1:                      11px
$font-size-2:                      15px
$font-size-3:                      13px
$font-size-4:                      14px
$font-size-5:                      24px
$font-size-6:                      16px
$font-size-7:                      23px
$font-size-8:                      12px
$font-size-9:                      10px
$font-size-10:                     17px
$font-size-11:                     18px
$font-size-12:                     45px
$font-size-13:                     20px

// Letter spacing
$letter-spacing-1:                 1.3px
$letter-spacing-2:                 0.87px
$letter-spacing-3:                 0.1px
$letter-spacing-4:                 0.3px
$letter-spacing-5:                 0.5px
$letter-spacing-6:                 1px
$letter-spacing-7:                 0.6px
$letter-spacing-8:                 0.28px
$letter-spacing-9:                 2.07px
$letter-spacing-10:                0.43px

$lbl-bottom-margin-1:              0px
$lbl-bottom-margin-2:              5px
$lbl-bottom-margin-3:              34px
$lbl-bottom-margin-4:              8px

$form-wrap-width:                  280px

// Font weight
$font-weight-1:                    600
$font-weight-2:                    400
$font-weight-3:                    300
$font-weight-4:                    500

$grid-columns:                     12 !default
$grid-gutter-width:                8px
$navbar-padding-vertical:          0
$navbar-default-color:             rgb(255,255,255)
$navbar-default-brand-color:       rgb(255,255,255)
$navbar-default-link-color:        rgb(255,255,255)
$container-md:                     1200px
$bootstrap-sass-asset-helper:      true
$font-family-sans-serif:           "Proxima Nova"

// Colors
$color-white:                      rgba(255,255,255,1)
$color-black:                      #000
$color-red:                        #ff0000
$navbar-default-bg:                rgb(54, 65, 84)
$navbar-default-border:            transparent
$transparent:                      transparent
$navbar-default-color:             rgb(255,255,255)
$navbar-default-brand-color:       rgb(255,255,255)
$navbar-default-link-color:        rgb(255,255,255)
$navbar-header-bg:                 rgba(195, 198, 201,0.04)
$sub-nav-bg:                       rgb(240, 243, 247)
$right-side-bar-bg:                rgb(87, 102, 117)
$left-side-bar-bg:                 rgb(42, 50, 66)
$card-item-red:                    rgb(230, 112, 114)
$card-item-yellow:                 rgba(255, 126, 0, 0.67)
$card-item-green:                  rgb(2, 219, 212)
$overlay-modal:                    #f7f9fa

$palett-color-1:                   #01bbb5
$palett-color-2:                   #15213D
$palett-color-3:                   #7197e0
$palett-color-4:                   #a2a6b1
$palett-color-5:                   #d1d4db
$palett-color-6:                   #ff7c7f
$palett-color-7:                   #ffb870
$palett-color-8:                   #7590e0
$palett-color-9:                   #02c0d9
$palett-color-10:                  #1ee3a1
$palett-color-11:                  #2a3242
$palett-color-12:                  #364154
$palett-color-13:                  #f0f9fc
$palett-color-14:                  #f0f3f7
$palett-color-15:                  #14203c
$palett-color-16:                  #adb3be
$palett-color-17:                  #1ee3a1
$palett-color-18:                  #B8BCC4
$palett-color-19:                  #02e6d3
$palett-color-20:                  #143a3c
$palett-color-21:                  #121829
$palett-color-22:                  #b8dbff
$palett-color-23:                  #dadee8
$palett-color-24:                  #002841
$palett-color-25:                  #00e0d5
$palett-color-26:                  #17f1e6
$palett-color-27:                  #00f0e4
$palett-color-28:                  #67708d
$palett-color-29:                  #6d7587
$palett-color-30:                  #767f8e
$palett-color-31:                  #768499
$palett-color-32:                  #1f3459
$palett-color-33:                  #15203d
$palett-color-34:                  #fafbfd 
$palett-color-35:                  #fafbfc
$palett-color-36:                  #c6d7e0
$palett-color-37:                  #1f304c
$palett-color-38:                  #7e8ba3
$palett-color-39:                  #5f6879
$palett-color-40:                  #1b2b45
$palett-color-41:                  #00f7e1
$palett-color-42:                  #ced0d7
$palett-color-43:                  #bec4cf
$palett-color-44:                  #0cb
$palett-color-45:                  #f5f7fa

$palett-gradient-1:                linear-gradient(223deg, #00f1dc 0%, #00a3d3 100%)
$palett-gradient-2:                linear-gradient(223deg, #00ffea 0%, #00b6ee 100%)
$palett-gradient-3:                linear-gradient(-1deg, #1B2B4A  2%, #1D365E  100%);

//Buttons-colors
$btn-bg-action:                    rgba(23, 241, 230, 0.91)
$bg-texture-path:                  'bg-texture.svg'

p
    margin: 0

// Navbar 
$navbar-height:                    70px
$navbar-header-width:              260px
$navbar-right-width:               109px
$navbar-link-padding-top:          20px
$navbar-link-padding-bottom:       20px
$sub-nav-margin-left:              59px
$main-menu-margin-left:            24px
$main-menu-button-margin-right:    32px
$notification-badge-top:           -19px
$notification-badge-left:          -9px
$profile-button-width:             10px
$profile-avatar-max-width:         36px

// Subbar
$subbar-height:                    50px

// Logo
$logo-height:                      30px
$logo-margin-top:                  15px
$logo-margin-left:                 25px
$logo-label-margin-top:            13px  
$logo-label-margin-left:           18px

// Sidebar 
$right-sidebar-width:              278px
$left-sidebar-width:               260px
$right-sidebar-btn-width:          87px
$left-sidebar-btn-header-width:    49px
$left-sidebar-input-width:         207px
$left-sidebar-divider:             1px solid $palett-color-40
$left-sidebar-btn-bottom-width:    210px
          