.uk-label.forms-label {
	display: block;
	text-transform: none;
	background-color: transparent;
	position: relative;
	> div {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.input-exchange-out, .out-currency {
			user-select: none;
			.label-simple;
			color: darken(@global-emphasis-color, 7%);
			padding-top: @xsmall-padding;
		}
	}
	&.bt-address-label {
		img {
			position: absolute;
			top: 41px;
			left: 10px;
			max-width: 100%;
			height: auto;
		}
	}
	&:nth-child(3) {
			margin-bottom: @global-medium-margin;
	}
	.label-text {
		display: block;
		text-align: left;
		.label-simple;
		margin-bottom: @global-small-margin;
	}
	.uk-input {
		display: block;
		background-color: transparent;
		padding: @input-padding;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		-ms-border-radius: 1px;
		-o-border-radius: 1px;
		border-radius: 1px;
		border: @global-border-width solid darken(@global-emphasis-color, 7%);
		.text-meta-secondary;
		.transition;
		&::-webkit-input-placeholder {
			color: darken(@global-emphasis-color, 7%);
		}
		&::-moz-placeholder {
			color: darken(@global-emphasis-color, 7%); /* Firefox 19+ */
		}
		&:-moz-placeholder {
			color: darken(@global-emphasis-color, 7%); /* Firefox 18- */
		}
		&:-ms-input-placeholder {
			color: darken(@global-emphasis-color, 7%);
		}
		&:active, &:focus, &.focused {
			border: @global-border-width solid @global-hover-color;
			color: @global-hover-color;
			background-color: @palette-color-20;
			&::-webkit-input-placeholder {
				color: @global-hover-color;
			}
			&::-moz-placeholder {
				color: @global-hover-color; /* Firefox 19+ */
			}
			&:-moz-placeholder {
				color: @global-hover-color; /* Firefox 18- */
			}
			&:-ms-input-placeholder {
				color: @global-hover-color;
			}
		}
		&.input-error {
			border: @global-border-width solid @global-danger-color;
			.label-error;
			color: @global-danger-color;
			background-color: @palette-color-20;
		}
		&.input-exchange {
			border: none;
			border-bottom: @global-border-width solid darken(@global-emphasis-color, 7%);
			padding: @xsmall-padding 0;
			.label-simple;
			&:active, &:focus, &.focused {
				background-color: transparent;
			}
			&.input-error {
				color: @global-danger-color;
				background-color: transparent;
			}
		}
		&.bt-address {
			padding: @input-bt-address-padding;
		}
	}
	.restore-button {
		position: absolute;
		padding: 0;
		background-color: transparent;
		.text-meta-secondary;
		right: 15px;
		top: 50%;
		-webkit-transform: translate(0,-50%);
		transform: translate(0,-50%);
		text-decoration: none;
		user-select: none;
		.transition;
		&:hover {
			color: @global-hover-color;
			text-decoration: none;
		}
	}
	.in-currency {
		position: absolute;
		.label-simple;
		right: 0;
		top: 13px;
		user-select: none;
	}
}