.calendar-lines-view {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.uk-label {
    color: white;
    .calendar-lines-label {
        font-size: 10px;
        background: none;
        padding: 3px 4px;
    }
}