.elements-card {
    width: 245px; 
    &.uk-card {
        margin-bottom: 0;
    }
}

.elements-card-large {
    width: 300px;
}

.elements-card-medium {
    width: 126px;
}

.elements-card-small {
    width: 90px;
}