.forms-calendar-bar {
    width: 65%;
    color: @palette-colour-8;
    .uk-tab li {
            border: @global-border-width solid @palette-colour-9;
    }
    &.uk-tab li.uk-active {
        background-color: @palette-colour-12;
        border-bottom: none;
}
    &:first-child {
        border-right: @global-border-width solid @palette-colour-9;
    }
}

