.forms-calendar-bar {
    width: 65%;
    color: @palette-colour-8;
    &.uk-tab li {
        border: @global-border-width solid #d9dfe3;
    }
    &.uk-tab li.uk-active {
        background-color: #d9dfe3;
    }
}


