.gradient-palette-card {
    width:@gradient-card-width;
    .view-color {
        height: @view-color-height;
    }
    .uk-label{
        width:100%;
        padding: 9px 0;
        background-color: @palette-colour-14;
        color: @font-color-light-grey;
        text-align: center;        
    }
}