.uk-input {
    &.input-selected {
        background-color: @main-input-background;
        &:focus {
            border: 1px solid #354052;    
        }
    }
    &.input-empty {
        background-color: @main-input-background;
    }
    &.input-typing {
        background-color: @main-input-background;
    }
    &.input-error {
        background-color: @main-input-background;
        &:focus {
            border: 1px solid #354052;
        }
    }
    &.input-success {
        background-color: @main-input-background;
        &:focus {
            border: 1px solid #4fbead;
        }
    }
}   