.text-header {
    color: #354052;
    font-size: 18px;
    font-weight: 400;
    width: 99px;
    height: 24px;
}

.text-primary {
    width: 82px;
    height: 19px;
    color: #354052;
    font-size: 14px;
    font-weight: 400;
}

.text-input-error {
    width: 102px;
    height: 19px;
    color: #fd6363;
    font-size: 14px;
    font-weight: 400;
}

.text-input-success {
    width: 118px;
    height: 19px;
    color: #4fbead;
    font-size: 14px;
    font-weight: 400;
}

.text-secondary {
    width: 84px;
    height: 17px;
    color: #354052;
    font-size: 12px;
    font-weight: 400;
}