// Border

@global-border-width: 1px;
@primary-border-radius: 4px;
@secondary-border-radius: 1px;

// Color Palette Container 

@color-palette-container-min-height: 495px;
@color-card-margin-1: 20px;
@color-card-margin-2: 0;

// Palette Colors

@palette-colour-1: #839dfe;
@palette-colour-2: #b1c2ff;
@palette-colour-3: #738cea;
@palette-colour-4: #4fbfad;
@palette-colour-5: #54d3dc;
@palette-colour-6: #fd6363;
@palette-colour-7: #ffb0cb;
@palette-colour-8: #354052;
@palette-colour-9: #7f8fa4;
@palette-colour-10: #c2c5cb;
@palette-colour-11: #c1c1c1;
@palette-colour-12: #eff3f6;
@palette-colour-13: #f4f8f9;
@palette-colour-14: #ffffff;

// Palette Gradients 

@palette-gradient-1: linear-gradient(147deg, #839dfe 0%, #75c1f1 100%);
@palette-gradient-2: linear-gradient(147deg, #4fbead 0%, #54d3dc 100%);
@palette-gradient-3: linear-gradient(147deg, #fd6363 0%, #ffb0cb 100%);

// Font Size

@font-size-1: 13px;
@font-size-2: 14px;
@font-size-3: 18px;
@font-size-4: 26px;

@font-weight-1: 600;
@font-weight-2: 500;
@font-weight-3: 400;


// Font Colors

@font-color-light-grey: #bbbed7;

// Color Card 

@color-card-width: 122px;
@gradient-card-width: 260px;
@view-color-height: 87px;

//
// Backgrounds
//

@global-success-background:                     #f2df96;









