body {
    font-family: 'SFUIDisplay';
}

#root {
    width: 1212px;
    height: 1060px;
    margin: 0 auto;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.main {
    position: absolute;
    top: 258px;
    right: 548px;
    width: 559px;
    height: 610px;
    background-color: rgba(0, 0, 0, .5);
}

.win_top p {
    color: #fff;
    font-size: 23px;
    text-align: center;
}

.gap {
    border-bottom: 2px solid #bcc4b5;
}

.login {
    position: relative;
}

.border {
    margin: 0 0 26px;
}

.border img {
    padding: 30px 0 0 126px;
}

.menu {
    height: 36px;
    background-color: #074a87;
}

.menu_right {
    margin: 0 20px 0 0;
    float: right;
    font-size: 14px;
    line-height: 34px;
}

.menu_right li {
    display: inline-block;
}

.menu_right li a {
    color: #fff;
    text-decoration: none;
}

.menu_right>li:first-child {
    padding-right: 17px;
    padding-left: 0;
}

.menu_right>li:last-child {
    width: 189px;
    margin-left: -3px;
    border: 1px solid #4a9cd6;
    background-image: url('../img/homework5.png');
    background-repeat: repeat-x;
    text-align: center;
}

.menu_left {
    margin: 0;
    float: right;
    font-size: 14px;
    line-height: 36px;
}

.menu_left li {
    display: inline-block;
    margin: 0 17px 0 0;
}

.menu_left li a {
    color: #fff;
    text-decoration: none;
}

.menu_left>li>a:hover {
    color: #fff;
}

.menu_left>li:hover {
    background-color: #4eabda;
    background-size: auto;
}

.flag {
    padding-top: 5px;
    float: right;
}

.flag img {
    margin: 0 -25px 0 0;
}

.bounder {
    padding: 0 5px 1px 19px;
    float: right;
}


.field {
    display: block;
    width: 260px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 14px;
    border: 0;
    border-bottom: 1px solid #484948;
    background-color: #100f0f;
    color: #dfe1e8;
}

.field:hover {
    background-color: #1b5288;
    -moz-box-shadow: 0 0 12px 4px rgba(77, 136, 175, 1);
    -webkit-box-shadow: 0 0 12px 4px rgba(77, 136, 175, 1);
    box-shadow: 0 0 12px 4px rgba(77, 136, 175, 1);
}

label {
    color: #dfe1e8;
}

[placeholder] {
    padding-left: 15px;
    font-size: 13px;
}

.cma {
    display: block;
    width: 151px;
    height: 35px;
    margin: 0 auto;
    margin-top: 22px;
    border: 0;
    border-radius: 6px;
    background-color: #469fd4;
    color: #dfe1e8;
    font-size: 14px;
}

.cma:hover {
    cursor: pointer;
}

.checkbox {
    margin: 0 auto;
    padding: 2px 0 0 139px;
    font-size: 13px;
}

.terms {
    padding: 17px 136px 0 120px;
    color: #dfe1e8;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
}

