.color-palette-card {
    width: @color-card-width;
    margin-right: @global-margin;
    .view-color{
        height: @view-color-height;
    }
    &.palette-gradient {
        width: @gradient-card-width;
    }
    &:nth-child(8), &:nth-child(16), &:nth-child(24), &:last-child {
        margin-right: 0;
    }
    .uk-label{
        width:100%;
        padding: 5px 0;
        background-color: #2e374f;
        color: @font-color-light-grey;
        line-height: 20px;
        font-size: 12px;
        text-align: center;   
        text-transform: uppercase;     
    }
}