@import "./styles.less";

.multibit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #6c75da;
    &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; 
        background-image: url("/assets/img/mb-bg.png");
    }
    .page {
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
    }
    // .footer {
    //     position: absolute;
    //     width: 100%;
    //     left: 0;
    //     bottom: 0;
    // }
    input {
        &.uk-input {
            &.input-empty {
                height: 45px;
            }
        }
    }
    div {
        &.dropdown-container {
            &.dropdown-primary {
                margin-bottom: 15px;
            }
        }
    }
}

