//
// Component:       Variables
// Description:     Defines common values which are used across all components
//
// ========================================================================


// Breakpoints
// ========================================================================

// Phone Portrait:   Galaxy (360x640), iPhone 6 (375x667), iPhone 6+ (414x736)
// Phone Landscape:  Galaxy (640x360), iPhone 6 (667x375), iPhone 6+ (736x414)
// Tablet Portrait:  iPad (768x1024), Galaxy Tab (800x1280),
// Tablet Landscape: iPad (1024x768), iPad Pro (1024x1366),
// Desktop:          Galaxy Tab (1280x800), iPad Pro (1366x1024)

@breakpoint-small:                             640px;  // Phone landscape
@breakpoint-medium:                            960px;  // Tablet Landscape
@breakpoint-large:                             1200px; // Desktop
@breakpoint-xlarge:                            1600px; // Large Screens

@breakpoint-xsmall-max:                        (@breakpoint-small - 1);
@breakpoint-small-max:                         (@breakpoint-medium - 1);
@breakpoint-medium-max:                        (@breakpoint-large - 1);
@breakpoint-large-max:                         (@breakpoint-xlarge - 1);


// Global variables
// ========================================================================

//
// Typography
//

@global-font-family:                            "SFUIDisplayRegular", sans-serif;
@secondary-font-family:                         "SFUIDisplayMedium", sans-serif;

@global-font-size:                              12px;

@global-line-height:                            20px;

@global-xxlarge-font-size:                      24px; 
@global-xlarge-font-size:                       16px;     
@global-large-font-size:                        14px;
@global-medium-font-size:                       13px;
@global-small-font-size:                        11px;
@global-xsmall-font-size:                       10px;

@app-bar-title-font-size:                       26px;
@styleguide-heading-font-size:                  20px; 

@global-letter-spacing: 						   0;

//
// Colors
//

@global-color:                                  #BBBED7;
@global-emphasis-color:                         #9DA0BA;
@global-muted-color:                            #999;

@global-inverse-color:                          #FFFFFF;

@global-hover-color: 							#BBBED7;
@global-alt-hover-color: 						#FFFFFF;

@global-link-color:                             #729FEE;
@global-link-hover-color:                       #0f6ecd;

@global-alert-color:                     		#ffffff;
@global-danger-color:         		            #F5667F;

@font-color-light-grey: #bbbed7;

@palette-color-1:  							#42b670;
@palette-color-2:  							#38a864;
@palette-color-3:              				#4fc87f;
@palette-color-4:              				#fcd11d;
@palette-color-5:              				#efb13d;
@palette-color-6:              				#ffc681;
@palette-color-7:              				#f99754;
@palette-color-8:              				#40acf4;
@palette-color-9:          					#619cff;
@palette-color-10:        					#268bea;
@palette-color-11:        					#5286dc;
@palette-color-12:             				#e43682;
@palette-color-13:         					#f43787;
@palette-color-14:         					#868aa3;
@palette-color-15:            				#a7adc5;
@palette-color-16:             	 			#19223a;
@palette-color-17:         					#1e2840;
@palette-color-18:         					#2c344c;
@palette-color-19:             	 			#333f5b;
@palette-color-20:             	 			#272f46;
@palette-color-21:             	 			#49526c;
@palette-color-22:             	 			#414b66;
@palette-color-23:             	 			#56617d;
@palette-color-24:              			#b5bad1;

@paletteGradient1: 							linear-gradient(180deg, #2d364f 0%, #212a42 100%);
@paletteGradient2: 							linear-gradient(180deg, #2e374f 0%, #1e253b 100%);	
@paletteGradient3: 							linear-gradient(180deg, #2f3952 0%, #2a334b 100%);	

//
// Backgrounds
//

@global-background:                            #2e3753;

@global-muted-background:                       #f8f8f8;
@global-primary-background:                     #2d364f;
@global-secondary-background:                   #1e253b;

@global-success-background:                     #42b670;
@global-success-background-hover:               #38a864;
@global-success-background-active:              #4fc87f;
@global-warning-background:                     #faa05a;
@global-danger-background:                      #f0506e;

// Color Card 

@color-card-width: 96px;
@gradient-card-width: 212px;
@view-color-height: 70px;

//
// Borders
//

@global-border-width:                           1px;
@global-border:                                 #BBBED7;

//
// Box-Shadows
//

@global-small-box-shadow:                       0 2px 6px rgba(18, 23, 38, 0.23);
@global-medium-box-shadow:                      0 5px 15px rgba(0,0,0,0.08);
@global-large-box-shadow:                       0 14px 25px rgba(0,0,0,0.16);
@global-xlarge-box-shadow:                      0 28px 50px rgba(0,0,0,0.16);

//
// Spacings
//

// Used in margin, section, list
@global-margin:                                 20px;
@global-small-margin:                           10px;
@global-medium-margin:                          40px;
@global-large-margin:                           70px;
@global-xlarge-margin:                          140px;

// Used in grid, column, container, align, card, padding
@global-gutter:                                 30px;
@global-small-gutter:                           15px;
@global-medium-gutter:                          40px;
@global-large-gutter:                           70px;
@page-padding: 									70px 0;
@xsmall-padding:                                5px;

//
// Controls
//

@global-control-height:                         40px;
@global-control-small-height:                   30px;
@global-control-large-height:                   55px;

//
// Z-index
//

@global-z-index:                                1000;

