.typography-item {
	width: 35%;
	min-height: 45px;
	margin-bottom: 35px;
	.title {
		display: block;
		text-align: left;
		margin-bottom: 5px;
		&.text-primary {
			.text-primary;
		}
		&.text-secondary {
			.text-secondary;
		}
		&.text-meta-primary {
			.text-meta-primary;
		}
		&.text-meta-secondary {
			.text-meta-secondary;
		}
		&.text-title-primary {
			.text-title-primary;
		}
		&.text-title-secondary {
			.text-title-secondary;
		}
		&.text-input-error {
			.text-input-error;
		}
		&.text-input {
			.text-input;
		}
	}
	.uk-label {
		background-color: transparent;
		display: block;
		text-align: left;
		padding: 0;
		font-family: @global-font-family;
		font-size: @global-font-size;
		line-height: @global-line-height;
		color: @palette-color-14;
	}
}